body {
    margin: 0;
    background-position: center top;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--body-font);
    font-weight: var(--medium);
    font-size: var(--body-17-font);
    line-height: var(--body-17-line);
    color: var(--high-emphasis-black);
}
