.listing {

}

.listing__filter {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--low-emphasis-black);
    overflow-x: auto;
}

    .listing__ribbon {
        display: inline-flex;
        vertical-align: top;
        gap: 8px;
    }

        .listing__tag {
            border: 1px solid var(--low-emphasis-black);
            background-color: transparent;
            display: inline-block;
            vertical-align: top;
            border-radius: 8px;
            padding: 13px 15px;
            font-size: 15px;
            line-height: 20px;
            white-space: nowrap;
            color: var(--high-emphasis-black);
            text-decoration: none;
            cursor: pointer;
        }
            .listing__tag--current {
                border-color: var(--red);
                color: var(--red);
            }

    .listing__body {
        max-width: 1184px;
    }
        .listing__item {
            border-bottom: 1px solid var(--low-emphasis-black);
        }



@media (max-width: 639px) {

    .listing {

    }
        .listing__filter {
            /*padding-bottom: 24px;*/
            border-bottom: none;
            margin-left: calc(-1 * var(--container-mobile-padding));
            margin-right: calc(-1 * var(--container-mobile-padding));
            /*overflow-x: auto;*/
        }
            .listing__ribbon {
                /*display: inline-flex;*/
                /*vertical-align: top;*/
                padding-left: var(--container-mobile-padding);
                padding-right: var(--container-mobile-padding);
                /*gap: 8px;*/
            }
                .listing__tag {
                    /*border: 1px solid var(--low-emphasis-black);*/
                    /*background-color: transparent;*/
                    /*display: inline-block;*/
                    /*vertical-align: top;*/
                    /*border-radius: 8px;*/
                    /*padding: 13px 15px;*/
                    /*font-size: 15px;*/
                    /*line-height: 20px;*/
                    /*white-space: nowrap;*/
                    /*color: var(--high-emphasis);*/
                    /*text-decoration: none;*/
                    /*cursor: pointer;*/
                }

                .listing__tag--current {
                    /*border-color: var(--red);*/
                    /*color: var(--red);*/
                }
        .listing__body {

        }
            .listing__item {
                /*border-bottom: 1px solid var(--low-emphasis-black);*/
            }
}
