.submenu {
    max-width: 1336px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 424fr repeat(3, 272fr);
    gap: 32px;
}
    .submenu__summary {
        flex-grow: 424;
        padding-right: 24px;
    }
        .submenu__heading {
            display: block;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: var(--extra-bold);
            font-size: 26px;
            line-height: 34px;
        }

        .submenu__operations {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
            .submenu__action {

            }

    .submenu__column {

    }
        .submenu__sub-heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: var(--extra-bold);
            font-size: var(--body-17-font);
            line-height: var(--body-17-line);
        }

        .submenu__list {
            margin-top: 8px;
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;
        }
            .submenu__item {
                margin-top: 4px;
            }

            .submenu__item:first-child {
                margin-top: 0;
            }

            .submenu__item--pushed {
                margin-top: 20px;
            }
                .submenu__link {
                    padding-top: 4px;
                    border-bottom: 1px solid transparent;
                    font-size: var(--body-17-font);
                    line-height: var(--body-17-line);
                    color: var(--high-emphasis-black);
                    text-decoration: none;
                }

                .submenu__link:hover {
                    border-bottom-color: currentColor;
                }


@media (max-width: 639px) {

    .submenu {
        /*max-width: 1336px;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        display: flex;
        flex-direction: column;
        /*grid-template-columns: 424fr repeat(3, 272fr);*/
        /*gap: 32px;*/
    }
        .submenu__summary {
            order: 10;
            /*flex-grow: 424;*/
            padding-right: 0;
        }
            .submenu__heading {
                display: none;
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-weight: var(--extra-bold);*/
                /*font-size: 26px;*/
                /*line-height: 34px;*/
            }

            .submenu__operations {
                margin-top: 0;
                /*display: flex;*/
                /*flex-direction: column;*/
                /*align-items: flex-start;*/
                /*gap: 32px*/
            }
                .submenu__action {

                }

                .submenu__action.button,
                .submenu__action .button {
                    width: 100%;
                }

        .submenu__column {

        }
            .submenu__sub-heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-weight: var(--extra-bold);*/
                /*font-size: var(--body-17-font);*/
                /*line-height: var(--body-17-line);*/
            }

            .submenu__list {
                /*margin-top: 8px;*/
                /*margin-bottom: 0;*/
                /*padding-left: 0;*/
                /*list-style: none;*/
            }
                .submenu__item {
                    /*margin-top: 4px;*/
                }

                .submenu__item:first-child {
                    /*margin-top: 0;*/
                }
                    .submenu__link {
                        /*padding-top: 4px;*/
                        display: block;
                        padding-top: 5px;
                        padding-bottom: 4px;
                        border-bottom: none;
                        /*font-size: var(--body-17-font);*/
                        /*line-height: var(--body-17-line);*/
                        /*color: var(--high-emphasis-black);*/
                        /*text-decoration: none;*/
                    }

                    .submenu__link:hover {
                        /*border-bottom-color: currentColor;*/
                    }
}
