.nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 182px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--green-light);
}

.black-header .nav {
    background-color: var(--primary-black);
}

    .nav__item {
        position: relative;
    }

    .nav__item--has-dropdown {

    }
        .nav__link {
            display: flex;
            align-items: flex-start;
            padding: 10px 16px;
            border-radius: 4px;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.3px;
            color: var(--high-emphasis-black);
            white-space: nowrap;
            text-decoration: none;
        }

        .black-header .nav__link {
            color: var(--high-emphasis-white);
        }

        .nav__link:hover {
            background-color: rgba(255, 255, 255, 0.9);
        }

        .black-header .nav__link:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        .nav__item--has-dropdown .nav__link::after {
            content: "";
            display: block;
            margin-top: 4px;
            margin-left: 7px;
            margin-right: -4px;
            width: 16px;
            height: 16px;
            background-image: url("./menu-item.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .black-header .nav__item--has-dropdown .nav__link::after {
            background-image: url("./menu-item-inverted.svg");
        }

        .nav__dropdown {
            position: absolute;
            z-index: 200;
            right: 0;
            top: 100%;
            display: none;
            background-color: #FFFFFF;
            border-radius: 8px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .nav__item--expanded .nav__dropdown {
            display: block;
        }
            .nav__sub-link {
                display: block;
                padding: 4px 32px 4px 24px;
                font-size: var(--body-17-font);
                line-height: var(--body-17-line);
                color: var(--high-emphasis-black);
                white-space: nowrap;
                text-decoration: none;
            }

            .nav__sub-link:hover {
                background-color: var(--blue-light);
            }


@media (max-width: 1299px) {

    .nav {
        padding-right: 149px;
    }
}

@media (max-width: 639px) {
    .nav {
        display: none;
    }
}
